@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

.Container {
    font-family: "Inter", sans-serif;

    &__initialPoke {
        text-align: center;

        &__title {
            width: 30%;
            height: 30%;
        }

        &__search {
            display: flex;
            justify-content: center;
        }
    }
}